
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>seatCelection</title>
</head>
<body>
    <h3>Select your seat</h3>
    <br />
    
</body>
</html>
